/* External fonts */
@font-face {
    src: url(../fonts/Gilroy-Medium.ttf);
	font-family: gilroy-medium;
}

@font-face {
    src: url(../fonts/Gilroy-Bold.ttf);
	font-family: gilroy-bold;
}

@font-face {
    src: url(../fonts/Gilroy-ExtraBold.ttf);
	font-family: gilroy-extraBold;
}

@font-face {
    src: url(../fonts/Gilroy-Black.ttf);
	font-family: gilroy-black;
}

/* CSS reset */
* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Set fonts */
h1, h2, h3 {
    font-family: gilroy-extraBold;
}

p, a, li, small {
    font-family: gilroy-medium;
}

/* Default button */
.button {
    background-color: #006CFA;
    color: white !important;
    padding: 10px 20px;
    border-radius: 6px;
}

.button:hover {
    background-color: #0CD977;
    text-decoration: none !important;
}


a {
    text-decoration: none;
}

/* Header */
.header {
    width: 100%;
    height: 110px;
}

.header_container {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}

.header_left {
    display: inline-flex;
    align-items: center;
    height: 100%;
    float: left;
}

.header_left a {
    height: 33%;
}

.header_left img {
    margin: auto;
    height: 100%;
    vertical-align: middle;
}

.header_right {
    float: right;
    height: 100%;
}

.header_right ul {
    height: 100%;
    display: inline-flex;
    align-items: center;
    list-style: none;
}

.header_right li {
    display: inline;
    padding-left: 40px;
}

.header_right a {
    color: black;
    font-size: 18px;
}

.header_right a:hover {
    text-decoration: underline;
}

/* Presentation section */
.presentation_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.presentation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    width: 1080px;
}

/* Presentation content left */
.presentation_content_left {
    height: 440px;
    width: 540px;
    float: left;
}

.presentation_content_left h1 {
    font-size: 50px;
    line-height: 50px;
    color: #0CD977;
    margin-bottom: 60px;
}

.presentation_content_left h2 {
    line-height: 36px;
    margin-bottom: 35px;
}

.presentation_content_left ul {
    list-style-image: url("../images/arrow.png");
    list-style-position: inside;
    margin-bottom: 50px;
}

.presentation_content_left span {
    font-size: 18px;
    line-height: 28px;
    margin-left: 8px;
}

.presentation_content_left a {
    background: none;
    color: #0CD977 !important;
    border: 2px solid #0CD977;
}

.presentation_content_left a:hover {
    color: white !important;
}

/* Presentation content right */
.presentation_content_right {
    height: 540px;
    width: 540px;
    float: right;
}

.presentation_content_right video {
    height: 540px;
    width: 540px;
}

/* Tech job section */

.tech_job_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001632;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tech_job_container h2 {
    font-size: 50px;
    line-height: 40px;
    color: #006CFA;
    margin-bottom: 50px;
}

.tech_job_three_item_container div {
    float: left;
    width: 330px;
    height: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.tech_job_three_item_container img {
    height: 75px;
    margin-bottom: 35px;
}

.tech_job_three_item_container h3 {
    color: white;
    font-size: 50px;
    margin-bottom: 35px;
}

.tech_job_three_item_container p {
    color: white;
    font-size: 18px;
}

.tech_job_container small {
    color: white;
    margin-left: 15px;
}
